//// @access public
//// @author @jenneracostadiaz

/// Color de la fuente
/// @group colores
$font-principal: #fff;

///Color de Fondo de la web
/// @group colores
$background-color-principal: #eee;

///Color por defecto de los botones
/// @group colores
$btn-background-default: #00aa00;

///Radio de los botones
/// @group dimensiones
$btn-radius-style: 5px;